
@import "@fontsource-variable/inter";
@import "shadcn/tailwind.css";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink1: #FF7269;
  --yellow1: #C1811B;
  --yellow2: #FFF0C6;
  --gray1: #7F7F7F;
  --gray2: #E7F1F4;

  --weight1: 700;
  --weight2: 600;

  --lightBasic: black;

  --font-heading: "Micro 5", sans-serif;

  font-family: "Noto Sans TC", sans-serif;
  font-weight: 340;
  line-height: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  border: none;
  background-color: transparent;
}
input{
  border: none;
  outline: none;
}
textarea{
  border: none;
  outline: none;
  line-height: 30px;
  font-size: 16px;
}

.title0{
  font-family: var(--font-heading);
  color:var(--pink1);
  font-size: 36px;
}
.title1{
  font-size: 24px;
  font-weight: var(--weight2);
  color: var(--lightBasic);
}
.title2{
  font-size: 14px;
  font-weight: var(--weight2);
  color: var(--lightBasic);
}
.content1{
  font-size: 14px;
  color: var(--lightBasic);
}
.content2{
  font-size: 14px;
  color: var(--lightBasic);
}
.tag1{
  font-size: 14px;
  color: var(--lightBasic);
  opacity: 0.5;
}
.tag2{
  font-size: 14px;
  color: var(--lightBasic);
  opacity: 0.5;
}
.errorMessage{
  font-size: 14px;
  color: red;
}

/*-------Button-------*/
.fontBtn{
  font-size: 14px;
  opacity: 0.6;
  color: var(--lightBasic);
}
.fontBtn:hover{
  cursor: pointer;
  opacity: 1;
  transition: .5s;
}
.fontBtn:active{
  opacity: .4;
}

.fontBtn1{
  font-size: 14px;
  opacity: 0.6;
  color: var(--pink1);
}
.fontBtn1:hover{
  cursor: pointer;
  opacity: 1;
  transition: .5s;
}
.fontBtn1:active{
  opacity: .4;
}

.smallfontBtn{
  font-size: 14px;
  height: 18px;
  color: var(--pink1);
}
.smallfontBtn:hover{
  cursor: pointer;
  font-weight: 500;
  transition: .5s;
}
.smallfontBtn:active{
  opacity: .4;
}

.normalBtn{
  background-color: var(--pink1);
  color: white;
  height: 3rem;
  border-radius: .4rem;
  border: 2px solid var(--pink1);
}
.disableNormalBtn{
  opacity: 0.5;
  background-color: var(--pink1);
  color: white;
  height: 3rem;
  border-radius: .4rem;
  border: 2px solid var(--pink1);
}
.normalBtn:hover{
  cursor: pointer;
  transition: .2s;
  background-color: transparent;
  color: var(--pink1);
  border: 2px solid var(--pink1);
}
.normalBtn:active{
  opacity: 0.3;
}

.normalBtn2{
  font-size: 14px;
  color: var(--lightBasic);
  background-color: rgb(228, 228, 228);
  height: 3rem;
  border-radius: .4rem;
  border: 2px solid rgb(228, 228, 228);
}
.disableNormalBtn2{
  opacity: 0.5;
  background-color: rgb(228, 228, 228);
  height: 3rem;
  border-radius: .4rem;
  border: 2px solid rgb(228, 228, 228);
}
.normalBtn2:hover{
  cursor: pointer;
  transition: .2s;
  background-color: transparent;
  color: rgb(228, 228, 228);
  border: 2px solid rgb(228, 228, 228);
}
.normalBtn2:active{
  opacity: 0.3;
}

/*-------Input-------*/
.frameInput{
  height: 3rem;
  border-bottom: 1px solid var(--lightBasic);
}
.frameInput::placeholder{
  opacity: .5;
}
.frameInput:focus{
  transition: .1s;
  border-bottom: 2px solid var(--lightBasic);
}

.frameInputError{
  height: 3rem;
  border-bottom: 1px solid red;
}
.frameInputError::placeholder{
  opacity: .5;
}
.frameInputError:focus{
  transition: .1s;
  border-bottom: 2px solid red;
}

.checkBox{
  accent-color: var(--pink1);
  width: '24px'; 
  height: '24px';
  cursor: 'pointer';
}

.contentInput{
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
}
.contentInput2{
  border-top: 2px solid  #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}